{% extends "base.html" %}


{% block sidebar %}
        <ul>
            <li><a href="/accounts/register_user/">Register User</a></li>
            <li><a href="/accounts/log_in/">Log In</a></li>
        </ul>
{% endblock %}

{% block content %}
        <form action="/accounts/authenticate/" method="post"> {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password: </label>
            <input type="password" name="password"  value="" id="password">
            <input type="submit" value="Submit" />
        </form>
{% endblock %}